<div class="container-fluid m-3" style="width: 75%;">
  <div class="mx-auto" style="width: 75%;">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="#"
      style="width: 200px; height: 200px;" class="m-2">
    
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="#"
      style="width: 150px; height: 150px;" class="m-2">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="#"
      style="width: 100px; height: 100px;" class="m-2">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="#"
      style="width: 50px; height: 50px;" class="m-2">
  </div>
  
  <div class="d-flex flex-column mx-auto">
    <form action="/" method="POST"> 
      {{#if alert}}
      <div class="m-3">
        <h2>{{ alert }}</h2>
      </div>
      {{/if}}
      <div class="input-group m-3">
        <span class="input-group-text" id="basic-addon3">URL</span>
        <input name="url" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
          placeholder="https://www.google.com/.....">
        <button class="btn btn-primary" type="submit">縮短網址</button>
      </div>  
    </form>
  </div>
  
  <div class="input-group m-3">
    <input class="form-control"  id="myInput" type="text" value="{{ shortUrl }}" style="width: 70%;" >
    <button class="btn input-group-text fa-regular fa-clone" onclick="myFunction()" title="複製網址"></button>
    <a href="/{{ code }}"><button class="btn btn-primary">前往</button></a>
  </div>
</div> 
<script>
  function myFunction() {
      const copyText = document.querySelector('#myInput');
      copyText.select()
      copyText.setSelectionRange(0, 99999)
      navigator.clipboard.writeText(copyText.value)
      alert('Copied!');
    }
</script>