<div class="container-fluid m-3" style="width: 75%;">
  <div class="d-flex-block justify-content-center">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="#"
    style="height:25%; width:30%;">
    <form action="/" method="POST"> 
      
      <div class="input-group m-3">
        <span class="input-group-text" id="basic-addon3">URL</span>
        <input name="url" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
          placeholder="https://www.google.com/.....">
        <button class="btn btn-primary" type="submit">縮短網址</button>
      </div>  
    </form>
  </div>
  
  <div class="input-group m-3">
    
    <a href="/{{ code }}"><span class="m-2 fs-4">前往</span></a>
    <input class="d-flex-fill p-2"  id="myInput" type="text" value="{{ shortUrl }}" style="width: 70%;" >
    <button class="btn btn-primary" onclick="myFunction()">copy</button>
  </div>
</div> 
<script>
  function myFunction() {
      const copyText = document.querySelector('#myInput');
      copyText.select()
      copyText.setSelectionRange(0, 99999)
      navigator.clipboard.writeText(copyText.value)
      alert('Copied!');
    }
</script>